*{
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;

}
body{
    background: #f1f1f1;
    margin-top: 12vh;
    margin-bottom: 7rem;

}



header {
    top:0;
    width: 100%;
    height: 12vh;
    position: fixed;
    background: #999;
    text-align: center;
}
footer{
    background-image: url("an-logo-horizontal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;
    overflow: hidden;

}
.form-table{
    margin-top: 10vh;
    margin-left: 10vw;

}

table {
}

td {
    width: 15vw;
    padding: 1rem;
    text-align: left;
    height: 5vh;
    vertical-align: bottom;
}

.collapsible {
    position:absolute;
    left:4%;
    top: 0.5rem;
    background-color: #899c1c;
    color: white;
    width: 13vw;
    height: 7.5vh;
    text-align: center;
    font-size: 2rem;
    border: none;
    outline:none;
    border-radius: 0.5rem;


}
#dropdown{
    position: absolute;
    left: 0;
    top: 12vh;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-size: 7vw;
    width:50%;
    height: 100%;
    color:antiquewhite;
    background:linear-gradient(to right,rgba(137,156,28,0.7), rgba(0,0,0,0.7)) ;
    z-index: 3;
}

.center {
    margin-left: 40vw;
}
.center-buttons {

    max-height: 75%;
    max-width: 75%;
    position:absolute;
    bottom: 0;
    left:0;
    height: auto;
    width:auto;


}

.bottombutton {

    background-color: silver;
    color: white;
    padding: 1rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    outline:none;
    width: 19.4vw;

}
.account{
    color: white;
    background-color:#899c1c;
    border-radius: 50%;
    font-size: 5vw;
    position: absolute;
    right: 6vw;
    top: 1vh;
    width: 12%;
    height:7%;
    text-align: center;


}
.sidebar{
    font-size: 1.5rem;
    background: rgba(0,0,0,0.7);
    width: 40vw;
}
.submit{
    margin-left: 45vw;
    font-size: 1rem;

}
#faqs{
    margin-left: 5vw;
    margin-right:  5vw;
    margin-top : 5vw;
}
