*{
    margin:0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    margin-top: 25vh;
    margin-left: 20vw;
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
}

span.psw {
    float: right;
    padding-top: 16px;
}