*{
    margin:0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
}
.form-table{
    margin-top: 25vh;
    margin-left: 15vw;

}

table {
}

td {
    width: 15vw;
    padding: 1rem;
    text-align: left;
    height: 5vh;
    vertical-align: bottom;
}
