*{
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;

}
body{
    background: #f1f1f1;
    margin-top: 12vh;
    margin-bottom: 7rem;
    max-width: 100%;
    overflow-x: hidden;

}

ul1 {
    columns: 2;
}

header {
    top:0;
    width: 100%;
    height: 12vh;
    position: fixed;
    background: linear-gradient(to right,#999,#ddd ,#999);
    text-align: center;
    z-index: 1;
}
footer{
    background-image: url("an-logo-horizontal.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;
    overflow: hidden;

}
.form-table{
    margin-top: 10vh;
    margin-left: 10vw;
    border: 3px solid #f1f1f1;
}

input[type=password]

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
}

button:hover {
    opacity: 0.8;
}


span.psw {
    float: right;
    padding-top: 16px;
}
.btn-group{
    left:25vw;
}
.btn-group button {
    background-color: #899c1c; /* Green background */
    border: 1px solid #93aa1f; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 20vw;

}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
    max-width: 88vw;
}
.content{
    max-width: 100vw;
}
.display-table{
    max-width: 80vw;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

table {
}

td {
    width: 15vw;
    padding: 1rem;
    text-align: left;
    height: 5vh;
    vertical-align: bottom;
}

.collapsible {
    position:absolute;
    left:4%;
    top: 0.5rem;
    background-color: #899c1c;
    color: white;
    width: 15vw;
    height: 7.5vh;
    text-align: center;
    font-size: 2rem;
    border: none;
    outline:none;
    border-radius: 0.5rem;


}
#dropdown{
    position: fixed;
    left: 0;
    top: 12vh;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-size: 7vw;
    width:50%;
    height: 100%;
    color:antiquewhite;
    background:linear-gradient(to right,rgba(137,156,28,0.7), rgba(0,0,0,0.7)) ;
    z-index: 3;
}

.center {
    margin-left: 40vw;
}
.center-buttons {

    max-height: 75%;
    max-width: 75%;
    position:absolute;
    bottom: 0;
    left:0;
    height: auto;
    width:auto;


}

.bottombutton {

    background-color: silver;
    color: white;
    padding: 1rem 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    outline:none;
    width: 19.4vw;

}
.account{
    color: white;
    background-color:#899c1c;
    border-radius: 50%;
    font-size: 5vw;
    position: absolute;
    right: 6vw;
    top: 1vh;
    width: 13vw;
    height:7%;
    text-align: left;


}
.form{
    margin-top: 25vh;
    margin-left: 20vw;
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
}

button:hover {
    opacity: 0.8;
}

.container {
    max-width: 100vw;
}

.container input{
    max-width: 40vw;
    max-height: 5vh;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.sidebar{
    font-size: 1.5rem;
    background: rgba(0,0,0,0.7);
    width: 40vw;
}
.submit{
    margin-left: 45vw;
    font-size: 1rem;

}
#faqs{
    margin-left: 5vw;
    margin-right:  5vw;
    margin-top : 5vw;
}
#previousMessages{

}
#message{
    border:3px; border-style:solid; border-color:forestgreen; padding: 1em;
}
.messageLeft {
    alignment: left;
    color: red;
}

.messageRight {
    position: absolute;
    right: 0;
    width: 15rem;
}

.infoCollapsible{
    max-width: 100%;
    background: #899c1c;
    z-index: 0;
}

.fb-like{
    max-width: 100vw;
}

#register{
    left:35vw;
    background-color: #899c1c; /* Green background */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 30vw;
}


